fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
python-multipart
python-jose
passlib
bcrypt==4.0.1
# Temporary removal of heavy libs to bypass Render network crash
# pytesseract
# Pillow
# pdf2image
# PyPDF2
# pandas
# openpyxl
